
Label {
  background-color: white;
  border-bottom-width: 1;
  border-bottom-color: gray;
}

.delete-view {
  background-color: #CB1D00;
  padding: 20;
}
.delete-view Image {
  color: rgb(233, 10, 10);
}

ListView {
    opacity: 0;
  }
  .visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
