<ActionBar title="All Products" class="action-bar">
        <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    </ActionBar>
    
    <ScrollView>
        <StackLayout>
          <SearchBar hint="Search for Product" [text]="searchPhrase" (loaded)="sBLoaded($event)" (textChange)="onTextChanged($event)" (submit)="onSearchSubmit($event)" ></SearchBar>
            <GridLayout rows="*" columns="*, *, *">
                <Button class="btn btn-outline" row="0" col="0" class="fab" text="&#xf009; VIEW"></Button>
                <Button class="btn btn-outline" row="0" col="1" class="fab" text="&#Xf161; SORT"></Button>
                <Button class="btn btn-outline" row="0" col="2" class="fab" text="&#Xf0b0; FILTER"></Button>
            </GridLayout>
    
    
            <GridLayout class="page">
                    <GridView [items]="productList" colWidth="50%" rowHeight="250">
                      <ng-template let-item="item" let-odd="odd">
                        <StackLayout margin="10" borderColor="#dddddd" borderWidth="2" borderRadius="2" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd">
                          <StackLayout class="card-content">
                             <Image src="{{item.image}}"  class="action-image"
                            stretch="aspectFill" decodeWidth="400" decodeHeight="100" loadMode="async"></Image>
                            <Label class="title" [text]="item.name"></Label>
                            <Label class="price" text="&#8358;{{item.price}}"></Label>
                            <Label class="location" [text]="item.location"></Label>
                            <Button class="btn btn-primary request-button" text="Request" (tap)="requestProduct(item.id)"></Button>
                          </StackLayout>
                        
                        </StackLayout>
    
                        
                            
                      </ng-template>
                    </GridView>
                  </GridLayout>
        </StackLayout>
    </ScrollView>