<ActionBar title="Panafri" class="action-bar">
    <NavigationButton icon="res://menu" (tap)="onOpenDrawerTap()"></NavigationButton>

</ActionBar>

<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <StackLayout tkDrawerContent class="sideStackLayout">
   <StackLayout class="sidedrawer-header">
    <Image class="sidedrawer-header-image img-circle" src="{{AuthAvatar}}"></Image>
    <Label class="sidedrawer-header-brand" [text]="AuthName"></Label>
  </StackLayout>
    <ScrollView>
      <StackLayout class="sideStackLayout">
        <Label text="&#xf00a; &nbsp; Categories" (tap)="goToCategories()" class="sideLabel fab icon"></Label>
        <Label text="&#xf59d; &nbsp; Products" (tap)="goToProducts()" class="sideLabel fab icon"></Label>
        <Label text="&#xf552; &nbsp; Services" (tap)="goToServices()" class="sideLabel fab icon"></Label>
        <Label text="&#xf0f3; &nbsp; Register" (tap)="Register()" class="sideLabel fab icon"></Label>
        <Label text="&#xf2bd; &nbsp; Login" (tap)="Login()" class="sideLabel fab icon"></Label>
      </StackLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout tkMainContent class="mainContent">
    <ScrollView>
      <StackLayout>
        <SearchBar hint="Search for Product & Service" [text]="searchPhrase" (loaded)="sBLoaded($event)" (textChange)="onTextChanged($event)" (submit)="onSearchSubmit($event)" ></SearchBar>
        <Label class="categories"  text="Browse from categories"></Label>
        <GridLayout rows="*, *, *" columns="*, *, *">
          <StackLayout class="category-icon" row="0" col="0" (tap)="goToCategory()">
              <Label class="fab icon" text="&#xf1b9;"></Label>
              <Label class="name" text="Transporter"></Label>
          </StackLayout>
          <StackLayout class="category-icon" row="0" col="1" (tap)="goToCategory('Fashion')">
              <Label class="fab icon" text="&#xf553;"></Label>
              <Label class="name" text="Fashion"></Label>
          </StackLayout>
          <StackLayout class="category-icon" row="0" col="2" (tap)="goToCategory()">
            <Label class="fab icon" text="&#xf48b;"></Label>
            <Label class="name" text="Delivery"></Label>
          </StackLayout>

          <StackLayout class="category-icon" row="1" col="0" (tap)="goToCategory()">
              <Label class="fab icon" text="&#xf2e7;"></Label>
              <Label class="name" text="Catering"></Label>
          </StackLayout>
          <StackLayout class="category-icon" row="1" col="1" (tap)="goToCategory()">
              <Label class="fab icon" text="&#xf64f;"></Label>
              <Label class="name" text="Real Estate"></Label>
          </StackLayout>
          <StackLayout class="category-icon" row="1" col="2" (tap)="goToCategory()">
            <Label class="fab icon" text="&#xf26c;"></Label>
            <Label class="name" text="Electronics"></Label>
          </StackLayout>

          <StackLayout class="category-icon" row="2" col="0" (tap)="goToCategory()">
              <Label class="fab icon" text="&#xf5ce;"></Label>
              <Label class="name" text="Drinks & Party"></Label>
          </StackLayout>
          <StackLayout class="category-icon" row="2" col="1" (tap)="goToCategory()">
              <Label class="fab icon" text="&#xf4b8;"></Label>
              <Label class="name" text="Funitures"></Label>
          </StackLayout>
          <StackLayout class="category-icon" row="2" col="2" (tap)="goToCategories()">
            <Label class="fab icon" text="&#xf141;"></Label>
            <Label class="name" text="More options"></Label>
          </StackLayout>
        </GridLayout>

        <Label class="categories"  text="Suggested For you"></Label>
        <GridLayout class="page">
                <GridView [items]="productList" colWidth="50%" rowHeight="250">
                  <ng-template let-item="item" let-odd="odd">
                    <StackLayout margin="10" borderColor="#dddddd" borderWidth="2" borderRadius="2" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd">
                      <StackLayout class="card-content">
                         <Image src="{{item.image}}"  class="action-image"
                        stretch="aspectFill" decodeWidth="400" decodeHeight="100" loadMode="async"></Image>
                        <Label class="title" [text]="item.name"></Label>
                        <Label class="price" text="&#8358;{{item.price}}"></Label>
                        <Label class="location" [text]="item.location"></Label>
                        <Button class="btn btn-primary request-button" text="Request" (tap)="request(item.id)"></Button>
                      </StackLayout>
                    
                    </StackLayout>

                    
                        
                  </ng-template>
                </GridView>
              </GridLayout>

          <Label class="categories"  text="Suggested Services"></Label>
          <GridLayout class="page">
                <GridView [items]="serviceList" colWidth="50%" rowHeight="250">
                  <ng-template let-item="item" let-odd="odd">
                    <StackLayout margin="10" borderColor="#dddddd" borderWidth="2" borderRadius="2" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd">
                      <StackLayout class="card-content">
                         <Image src="{{item.image}}"  class="action-image"
                        stretch="aspectFill" decodeWidth="400" decodeHeight="100" loadMode="async"></Image>
                        <Label class="title" [text]="item.name"></Label>
                        <Label class="price" text="&#8358;{{item.price}}"></Label>
                        <Label class="location" [text]="item.location"></Label>
                        <Button class="btn btn-primary request-button" text="Request" (tap)="request(item.id)"></Button>
                      </StackLayout>
                    
                    </StackLayout>

                    
                        
                  </ng-template>
                </GridView>
              </GridLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</RadSideDrawer>
