<ActionBar title="Review Partners" class="action-bar">
  <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>


<GridLayout rows="auto, *">

  <RadListView row="1" [items]="reviewList" [class.visible]="listLoaded">

  <ng-template let-item="item">
      <StackLayout class="item" (tap)="reviewPartner(item.id)">
          <GridLayout columns="*, 125">
              <StackLayout col="0"  padding="10">
                  <Label [text]="item.name"></Label>
              </StackLayout>
              <StackLayout col="1" padding="10" >
                  <Image stretch="aspectFill" [src]="item.avatar" class="image img-circle"></Image>
              </StackLayout>
          </GridLayout>
          <StackLayout height="1" backgroundColor="lightgray"></StackLayout>
      </StackLayout>
  </ng-template>

</RadListView>

<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>